@page "/wildanimals/page3"
@model LearnEnglish.Pages.chapters.wildanimals.page3Model
@{
}


<head>
    <link rel="stylesheet" type="text/css" href="~/chapters/wildanimals/page3/page3.css">
</head>

<body>
        
            <!--  <input type="button" id="closeBtn" class="closeBtn" style="opacity:0" /> -->
            <label data-seekTimeStart="00.889" data-seekTimeEnd="01.645" class="label lbl_1"></label>
            <label data-seekTimeStart="03.725" data-seekTimeEnd="04.405" class="label lbl_2"></label>
            <label data-seekTimeStart="06.466" data-seekTimeEnd="07.223" class="label lbl_3"></label>
            <label data-seekTimeStart="09.151" data-seekTimeEnd="10.078" class="label lbl_4"></label>
            <label data-seekTimeStart="12.214" data-seekTimeEnd="12.933" class="label lbl_5"></label>
            <label data-seekTimeStart="14.880" data-seekTimeEnd="15.466" class="label lbl_6"></label>
            <label data-seekTimeStart="17.603" data-seekTimeEnd="18.284" class="label lbl_7"></label>
            <label data-seekTimeStart="20.326" data-seekTimeEnd="21.214" class="label lbl_8"></label>
            <label data-seekTimeStart="23.294" data-seekTimeEnd="23.880" class="label lbl_9"></label>
            <label data-seekTimeStart="26.017" data-seekTimeEnd="26.811" class="label lbl_10"></label>
            <label data-seekTimeStart="28.815" data-seekTimeEnd="29.420" class="label lbl_11"></label>
            <label data-seekTimeStart="31.443" data-seekTimeEnd="32.200" class="label lbl_12"></label>
            <label data-seekTimeStart="00.889" data-seekTimeEnd="01.645" class="label_img lbl_1_img"></label>
            <label data-seekTimeStart="03.725" data-seekTimeEnd="04.405" class="label_img lbl_2_img"></label>
            <label data-seekTimeStart="06.466" data-seekTimeEnd="07.223" class="label_img lbl_3_img"></label>
            <label data-seekTimeStart="09.151" data-seekTimeEnd="10.078" class="label_img lbl_4_img"></label>
            <label data-seekTimeStart="12.214" data-seekTimeEnd="12.933" class="label_img lbl_5_img"></label>
            <label data-seekTimeStart="14.880" data-seekTimeEnd="15.466" class="label_img lbl_6_img"></label>
            <label data-seekTimeStart="17.603" data-seekTimeEnd="18.284" class="label_img lbl_7_img"></label>
            <label data-seekTimeStart="20.326" data-seekTimeEnd="21.214" class="label_img lbl_8_img"></label>
            <label data-seekTimeStart="23.294" data-seekTimeEnd="23.880" class="label_img lbl_9_img"></label>
            <label data-seekTimeStart="26.017" data-seekTimeEnd="26.811" class="label_img lbl_10_img"></label>
            <label data-seekTimeStart="28.815" data-seekTimeEnd="29.420" class="label_img lbl_11_img"></label>
            <label data-seekTimeStart="31.443" data-seekTimeEnd="32.200" class="label_img lbl_12_img"></label>
            <label data-seekTimeStart="6.016" data-seekTimeEnd="07.744" class="label_point lbl_8"></label>
            <label data-seekTimeStart="15.551" data-seekTimeEnd="17.151" class="label_point lbl_2"></label>
            <label data-seekTimeStart="25.087" data-seekTimeEnd="26.815" class="label_point lbl_3"></label>
            <label data-seekTimeStart="34.686" data-seekTimeEnd="36.222" class="label_point lbl_5"></label>
            <label data-seekTimeStart="43.902" data-seekTimeEnd="45.310" class="label_point lbl_6"></label>
            <label data-seekTimeStart="53.374" data-seekTimeEnd="55.037" class="label_point lbl_12"></label>
            <label data-seekTimeStart="62.973" data-seekTimeEnd="64.253" class="label_point lbl_1"></label>
            <label data-seekTimeStart="72.253" data-seekTimeEnd="73.661" class="label_point lbl_7"></label>
            <label data-seekTimeStart="81.276" data-seekTimeEnd="82.876" class="label_point lbl_9"></label>
            <label data-seekTimeStart="91.004" data-seekTimeEnd="92.540" class="label_point lbl_10"></label>
            <label data-seekTimeStart="100.667" data-seekTimeEnd="102.395" class="label_point lbl_4"></label>
            <label data-seekTimeStart="110.267" data-seekTimeEnd="111.611" class="label_point lbl_11"></label>
            <label data-seekTimeStart="06.426" data-seekTimeEnd="07.680" class="label_circle lbl_7_circle"></label>
            <label data-seekTimeStart="16.496" data-seekTimeEnd="17.750" class="label_circle lbl_11_circle"></label>
            <label data-seekTimeStart="26.606" data-seekTimeEnd="27.938" class="label_circle lbl_3_circle"></label>
            <label data-seekTimeStart="36.558" data-seekTimeEnd="37.891" class="label_circle lbl_6_circle"></label>
            <label data-seekTimeStart="46.589" data-seekTimeEnd="48.078" class="label_circle lbl_8_circle"></label>
            <label data-seekTimeStart="56.620" data-seekTimeEnd="57.992" class="label_circle lbl_2_circle"></label>
            <label data-seekTimeStart="66.534" data-seekTimeEnd="67.905" class="label_circle lbl_9_circle"></label>
            <input type="button" tabindex="2" id="playAudio_song1" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/audio/Wild_animals_MASTER_v2" data-popupid="popup3" data-audio-highlight="true" name="playSong" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this); song_setIndex(); viewAedioTextSong();" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
            <input type="button" tabindex="2" id="playAudio_song2" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/audio/Wild_animals_SINGBACK_MASTER_v2" data-popupid="popup3" data-audio-highlight="true" name="playSong" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this); song_setIndex(); viewAedioTextSong();" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
            <input type="button" id="closeBtn" class="closeBtn" onclick="song_clearIndex(); txtbgColorSong();" style="opacity:0" />
            <img id="popup3" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page3/img/popupSong.png" data-top="0%" class="popup" />
            <img id="popup1" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page3/img/popup1.png" data-imgurl="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page3/img/popup1.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <img id="popup2" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page3/img/popup2.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <label id="txtbgColor" data-seekTimeStart="34" class="bgColor"></label>
            <label id="line_1" data-seekTimeStart="0" data-rhymes="true" data-seekTimeEnd="3.832" class="labelSong songText animated" style="top:54%" data-top="54">– Stomp like elephants!</label>
            <label id="line_2" data-seekTimeStart="2.86" data-rhymes="true" data-seekTimeEnd="5.817" class="labelSong songText animated" style="top:54%" data-top="54">Let's go to the zoo,</label>
            <label id="line_3" data-seekTimeStart="4.95" data-rhymes="true" data-seekTimeEnd="8.383" class="labelSong songText animated" style="top:54%" data-top="54">and stomp like the elephants do.</label>
            <label id="line_4" data-seekTimeStart="7.45" data-rhymes="true" data-seekTimeEnd="11.257" class="labelSong songText animated" style="top:54%" data-top="54">– Stomp, stomp, stomp, stomp, stomp, stomp!</label>
            <label id="line_5" data-seekTimeStart="10.25" data-rhymes="true" data-seekTimeEnd="13.002" class="labelSong songText animated" style="top:54%" data-top="54">Let's go to the zoo,</label>
            <label id="line_6" data-seekTimeStart="12.38" data-rhymes="true" data-seekTimeEnd="15.739" class="labelSong songText animated" style="top:550px" data-top="54">and stomp like the elephants do.</label>
            <label id="line_7" data-seekTimeStart="15.18" data-rhymes="true" data-seekTimeEnd="18.51" class="labelSong songText animated" style="top:550px" data-top="54">– Stomp, stomp, stomp, stomp, stomp, stomp!</label>
            <label id="line_8" data-seekTimeStart="19.9" data-rhymes="true" data-seekTimeEnd="20.802" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_9" data-seekTimeStart="19.9" data-rhymes="true" data-seekTimeEnd="22.308" class="labelSong songText animated" style="top:550px" data-top="54">– Jump like kangaroos!</label>
            <label id="line_10" data-seekTimeStart="21.34" data-rhymes="true" data-seekTimeEnd="24.19" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo,</label>
            <label id="line_11" data-seekTimeStart="23.43" data-rhymes="true" data-seekTimeEnd="26.859" class="labelSong songText animated" style="top:550px" data-top="54">and jump like the kangaroos do.</label>
            <label id="line_12" data-seekTimeStart="25.96" data-rhymes="true" data-seekTimeEnd="29.596" class="labelSong songText animated" style="top:550px" data-top="54">– Jump, jump, jump, jump, jump, jump!</label>
            <label id="line_13" data-seekTimeStart="28.74" data-rhymes="true" data-seekTimeEnd="31.58" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo,</label>
            <label id="line_14" data-seekTimeStart="30.82" data-rhymes="true" data-seekTimeEnd="34.214" class="labelSong songText animated" style="top:550px" data-top="54">and jump like the kangaroos do.</label>
            <label id="line_15" data-seekTimeStart="33.32" data-rhymes="true" data-seekTimeEnd="37.294" class="labelSong songText animated" style="top:550px" data-top="54">– Jump, jump, jump, jump, jump, jump!</label>
            <label id="line_16" data-seekTimeStart="38.34" data-rhymes="true" data-seekTimeEnd="39.244" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_17" data-seekTimeStart="38.34" data-rhymes="true" data-seekTimeEnd="40.682" class="labelSong songText animated" style="top:550px" data-top="54">– Swing like monkeys!</label>
            <label id="line_18" data-seekTimeStart="39.78" data-rhymes="true" data-seekTimeEnd="42.803" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo,</label>
            <label id="line_19" data-seekTimeStart="41.87" data-rhymes="true" data-seekTimeEnd="44.788" class="labelSong songText animated" style="top:550px" data-top="54">and swing like the monkeys do.</label>
            <label id="line_20" data-seekTimeStart="43.92" data-rhymes="true" data-seekTimeEnd="48.106" class="labelSong songText animated" style="top:550px" data-top="54">– Swing, swing, swing, swing, swing, swing, swing!</label>
            <label id="line_21" data-seekTimeStart="47.24" data-rhymes="true" data-seekTimeEnd="49.954" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo,</label>
            <label id="line_22" data-seekTimeStart="49.12" data-rhymes="true" data-seekTimeEnd="52.11" class="labelSong songText animated" style="top:550px" data-top="54">and swing like the monkeys do.</label>
            <label id="line_23" data-seekTimeStart="51.28" data-rhymes="true" data-seekTimeEnd="55.605" class="labelSong songText animated" style="top:550px" data-top="54">– Swing, swing, swing, swing, swing, swing, swing!</label>
            <label id="line_24" data-seekTimeStart="56.75" data-rhymes="true" data-seekTimeEnd="57.651" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_25" data-seekTimeStart="56.75" data-rhymes="true" data-seekTimeEnd="59.157" class="labelSong songText animated" style="top:550px" data-top="54">– Waddle like penguins!</label>
            <label id="line_26" data-seekTimeStart="58.26" data-rhymes="true" data-seekTimeEnd="61.005" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo,</label>
            <label id="line_27" data-seekTimeStart="60.38" data-rhymes="true" data-seekTimeEnd="63.366" class="labelSong songText animated" style="top:550px" data-top="54">and waddle like the penguins do.</label>
            <label id="line_28" data-seekTimeStart="62.43" data-rhymes="true" data-seekTimeEnd="66.582" class="labelSong songText animated" style="top:550px" data-top="54">– Waddle, waddle, waddle, waddle, waddle, waddle, waddle!</label>
            <label id="line_29" data-seekTimeStart="65.68" data-rhymes="true" data-seekTimeEnd="68.362" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo,</label>
            <label id="line_30" data-seekTimeStart="67.67" data-rhymes="true" data-seekTimeEnd="70.62" class="labelSong songText animated" style="top:550px" data-top="54">and waddle like the penguins do.</label>
            <label id="line_31" data-seekTimeStart="69.75" data-rhymes="true" data-seekTimeEnd="73.972" class="labelSong songText animated" style="top:550px" data-top="54">– Waddle, waddle, waddle, waddle, waddle, waddle, waddle!</label>
            <label id="line_32" data-seekTimeStart="73.07" data-rhymes="true" data-seekTimeEnd="79.242" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo, and dance like the animals do.</label>
            <label id="line_33" data-seekTimeStart="80.39" data-rhymes="true" data-seekTimeEnd="81.363" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_34" data-seekTimeStart="80.39" data-rhymes="true" data-seekTimeEnd="120.163" class="labelSong songText animated" style="top:550px" data-top="54">Let's go to the zoo, and dance like the animals do.</label>
            <div id="contentContainer">
                <div id="jpedal" style="overflow: hidden; position: relative; width: 1160px; height: 1190px;">
                    <!-- Begin text definitions (Positioned/styled in CSS) -->
                    <div id="t1_5" class="t s1_5">WILD ANIMALS</div>
                    <div id="t2_5" class="t s2_5">WILD ANIMALS</div>
                    <div id="t3_5" class="t s3_5">3</div>
                    <div id="t4_5" class="t s4_5">WILD ANIMALS</div>
                    <div id="t5_5" class="t s5_5">WILD ANIMALS</div>
                    <div id="t6_5" class="t s6_5">Chapter 3 </div>
                    <div id="t7_5" class="t s6_5">Wild Animals</div>
                    <div id="t8_5" class="t s7_5">Practise – circle and write</div>
                    <div id="t9_5" class="t s8_5">elephant</div>
                    <div id="ta_5" class="t s8_5">hippo</div>
                    <div id="tb_5" class="t s8_5">lion</div>
                    <div id="tc_5" class="t s8_5">monkey</div>
                    <div id="td_5" class="t s8_5">bear</div>
                    <div id="te_5" class="t s8_5">deer</div>
                    <div id="tf_5" class="t s8_5">squirrel</div>
                    <div id="tg_5" class="t s8_5">wolf</div>
                    <div id="th_5" class="t s8_5">crocodile</div>
                    <div id="ti_5" class="t s8_5">fox</div>
                    <div id="tj_5" class="t s8_5">owl</div>
                    <div id="tk_5" class="t s8_5">giraffe</div>
                    <div id="tl_5" class="t s7_5">Learn new words</div>
                    <div id="tm_5" class="t m1_5 s9_5">o</div>
                    <div id="tn_5" class="t m2_5 s9_5">w</div>
                    <div id="to_5" class="t m3_5 s9_5">l</div>
                    <div id="tp_5" class="t m4_5 s9_5">f</div>
                    <div id="tq_5" class="t m5_5 s9_5">o</div>
                    <div id="tr_5" class="t m6_5 s9_5">x</div>
                    <div id="ts_5" class="t m7_5 s9_5">s</div>
                    <div id="tt_5" class="t m8_5 s9_5">q</div>
                    <div id="tu_5" class="t m9_5 s9_5">u</div>
                    <div id="tv_5" class="t m10_5 s9_5">i</div>
                    <div id="tw_5" class="t m11_5 s9_5">r</div>
                    <div id="tx_5" class="t m12_5 s9_5">r</div>
                    <div id="ty_5" class="t m13_5 s9_5">e</div>
                    <div id="tz_5" class="t m13_5 s9_5">l</div>
                    <div id="t10_5" class="t m13_5 s9_5">d</div>
                    <div id="t11_5" class="t m13_5 s9_5">e</div>
                    <div id="t12_5" class="t m11_5 s9_5">e</div>
                    <div id="t13_5" class="t m14_5 s9_5">r</div>
                    <div id="t14_5" class="t m15_5 s9_5">w</div>
                    <div id="t15_5" class="t m16_5 s9_5">o</div>
                    <div id="t16_5" class="t m17_5 s9_5">l</div>
                    <div id="t17_5" class="t m18_5 s9_5">f</div>
                    <div id="t18_5" class="t m19_5 s9_5">b</div>
                    <div id="t19_5" class="t m20_5 s9_5">e</div>
                    <div id="t1a_5" class="t m21_5 s9_5">a</div>
                    <div id="t1b_5" class="t m1_5 s9_5">r</div>
                    <div id="t1c_5" class="t m22_5 s9_5">h</div>
                    <div id="t1d_5" class="t m20_5 s9_5">i</div>
                    <div id="t1e_5" class="t m23_5 s9_5">p</div>
                    <div id="t1f_5" class="t m24_5 s9_5">p</div>
                    <div id="t1g_5" class="t m25_5 s9_5">o</div>
                    <div id="t1h_5" class="t m26_5 s9_5">c</div>
                    <div id="t1i_5" class="t m11_5 s9_5">r</div>
                    <div id="t1j_5" class="t m27_5 s9_5">o</div>
                    <div id="t1k_5" class="t m28_5 s9_5">c</div>
                    <div id="t1l_5" class="t m29_5 s9_5">o</div>
                    <div id="t1m_5" class="t m30_5 s9_5">d</div>
                    <div id="t1n_5" class="t m31_5 s9_5">i</div>
                    <div id="t1o_5" class="t m32_5 s9_5">l</div>
                    <div id="t1p_5" class="t m33_5 s9_5">e</div>
                    <div id="t1q_5" class="t m34_5 s9_5">g</div>
                    <div id="t1r_5" class="t m35_5 s9_5">i</div>
                    <div id="t1s_5" class="t m13_5 s9_5">r</div>
                    <div id="t1t_5" class="t m14_5 s9_5">a</div>
                    <div id="t1u_5" class="t m15_5 s9_5">f</div>
                    <div id="t1v_5" class="t m36_5 s9_5">f</div>
                    <div id="t1w_5" class="t m16_5 s9_5">e</div>
                    <div id="t1x_5" class="t m37_5 s9_5">l</div>
                    <div id="t1y_5" class="t m6_5 s9_5">i</div>
                    <div id="t1z_5" class="t m38_5 s9_5">o</div>
                    <div id="t20_5" class="t m19_5 s9_5">n</div>
                    <div id="t21_5" class="t m23_5 s9_5">e</div>
                    <div id="t22_5" class="t m39_5 s9_5">l</div>
                    <div id="t23_5" class="t m40_5 s9_5">e</div>
                    <div id="t24_5" class="t m41_5 s9_5">p</div>
                    <div id="t25_5" class="t m42_5 s9_5">h</div>
                    <div id="t26_5" class="t m43_5 s9_5">a</div>
                    <div id="t27_5" class="t m40_5 s9_5">n</div>
                    <div id="t28_5" class="t m44_5 s9_5">t</div>
                    <div id="t29_5" class="t m37_5 s9_5">m</div>
                    <div id="t2a_5" class="t m14_5 s9_5">o</div>
                    <div id="t2b_5" class="t m45_5 s9_5">n</div>
                    <div id="t2c_5" class="t m46_5 s9_5">k</div>
                    <div id="t2d_5" class="t m33_5 s9_5">e</div>
                    <div id="t2e_5" class="t m47_5 s9_5">y</div>
                    <div id="t2f_5" class="t s10_5"><a onclick="javascript:window.top.close()" style="cursor:pointer">LOGGA UT</a></div>
                    <div id="tvalj1" class="t s10_5">VÄLJ KAPITEL</div>
                    <div id="tvalj2" class="t s10_5">VÄLJ SIDA</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="1" id="call_page3_1" onclick="location.href='/'" style="cursor:pointer;" title="Index" />
                        <input type="button" tabindex="2" id="call_page3_2" onclick="location.href='/wildanimals'" style="cursor:pointer;" title="Wild Animals" />
                        <input type="button" tabindex="3" id="call_page3_3" onclick="location.href='/wildanimals/page2'" style="cursor:pointer;" title="Previous" />
                        <input type="button" tabindex="4" id="call_page3_4" onclick="location.href='/wildanimals/page4'" style="cursor:pointer;" title="Next" />
                        <input type="button" tabindex="6" id="playAudio_1_1" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/audio/3_1" data-audio-highlight="true" onclick="playAudio(this)" data-popupid="popup1" class="LearnNew_Words playButton popup1" name="playAudio 3_1" pdfFieldName="playAudio 3_1" style="cursor:pointer;" />
                        <input type="button" tabindex="7" id="playAudio_1_2" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/audio/3_2" onclick="playAudio(this)" data-popupid="popup1" class="LearnNew_Words playButton popup1" name="playAudio 3_2" pdfFieldName="playAudio 3_2" style="cursor:pointer;" />
                        <input type="button" tabindex="8" id="playAudio_1_3" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/audio/3_3" data-audio-highlight="true" onclick="playAudio(this)" data-popupid="popup1" class="LearnNew_Words playButton popup1" name="point" pdfFieldName="playAudio 3_3" style="cursor:pointer;" />
                        <input type="button" tabindex="9" id="playAudio_1_4" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/audio/3_4" data-audio-highlight="true" onclick="playAudio(this)" data-popupid="popup1" class="LearnNew_Words playButton popup2" name="circle" pdfFieldName="playAudio 3_4" style="cursor:pointer;" />
                        <input type="button" tabindex="10" id="playAudio_1_5" data-popupid="popup3" onclick="song_setIndex(); showImage('popup3'); viewAedioTextSong();" class="playButton popup1" style="cursor:pointer;" />
                        <input type="button" tabindex="11" id="ballon_wildanimals" onclick="location.href='/balloon?type=wildanimals&&chapter=wild animal'" style="cursor:pointer;">
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg5Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg5">
                        <object width="1160" height="1190" data="~/chapters/wildanimals/page3/5.svg" type="image/svg+xml" id="svgImage" style="width:1160px; height:1190px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
            </div>
            <div id="rightSide" style="height: auto;width: auto;right:0;"></div>
        
   
</body>


