@page "/wildanimals/page2"
@model LearnEnglish.Pages.chapters.wildanimals.page2Model
@{
}


<head>
    <link rel="stylesheet" type="text/css" href="~/chapters/wildanimals/page2/page2.css">
</head>

<body>
       
            <input type="button" id="closeBtn" class="closeBtn" style="opacity:0" />
            <img id="popup1" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page2/img/popup1.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <div id="contentContainer">
                <div id="jpedal" style="overflow: hidden; position:relative; width: 1160px; height: 1190px;">
                    <!-- Begin text definitions (Positioned/styled in CSS) -->
                    <div id="t1_4" class="t s1_4">3</div>
                    <div id="t2_4" class="t s2_4">“Shh!” said Wilf.</div>
                    <div id="t3_4" class="t s3_4">16</div>
                    <div id="t4_4" class="t s4_4">6.</div>
                    <div id="t5_4" class="t s4_4">7.</div>
                    <div id="t6_4" class="t s4_4">8.</div>
                    <div id="t7_4" class="t s4_4">9.</div>
                    <div id="t8_4" class="t s5_4">Chapter 3 </div>
                    <div id="t9_4" class="t s5_4">The Den</div>
                    <div id="ta_4" class="t s2_4">“We’re all getting wet,” said Dad.</div>
                    <div id="tb_4" class="t s2_4">“It’s time to go.”</div>
                    <div id="tc_4" class="t s3_4">10</div>
                    <div id="td_4" class="t s2_4">“Can we come back soon?” </div>
                    <div id="te_4" class="t s2_4">asked Biff.</div>
                    <div id="tf_4" class="t s3_4">11</div>
                    <div id="tg_4" class="t s2_4">It rained all week. The children </div>
                    <div id="th_4" class="t s2_4">couldn’t go out to play.</div>
                    <div id="ti_4" class="t s3_4">12</div>
                    <div id="tj_4" class="t s2_4">They wanted the rain to stop.</div>
                    <div id="tk_4" class="t s2_4">They wanted to go back to </div>
                    <div id="tl_4" class="t s2_4">the den.</div>
                    <div id="tm_4" class="t s3_4">13</div>
                    <div id="tn_4" class="t s2_4">The rain stopped. The children </div>
                    <div id="to_4" class="t s2_4">went back to the den.</div>
                    <div id="tp_4" class="t s3_4">14</div>
                    <div id="tq_4" class="t s2_4">“Oh no!” said Wilma.</div>
                    <div id="tr_4" class="t s2_4">“We can’t </div>
                    <div id="ts_4" class="t s2_4">play in the den!”</div>
                    <div id="tt_4" class="t s3_4">15</div>
                    <div id="tu_4" class="t s6_4">The children were by the </div>
                    <div id="tv_4" class="t s6_4">.</div>
                    <div id="tw_4" class="t s6_4">Wilf said: Let’s make a </div>
                    <div id="tx_4" class="t s6_4">.</div>
                    <div id="ty_4" class="t s6_4">They all found some </div>
                    <div id="tz_4" class="t s6_4">.</div>
                    <div id="t10_4" class="t s6_4">It began to </div>
                    <div id="t11_4" class="t s6_4">.</div>
                    <div id="t12_4" class="t s6_4">They wanted the rain to </div>
                    <div id="t13_4" class="t s6_4">.</div>
                    <div id="t14_4" class="t s6_4">Wilma said: We can’t </div>
                    <div id="t15_4" class="t s6_4">in the den.</div>
                    <div id="t16_4" class="t s7_4">stream / lake</div>
                    <div id="t17_4" class="t s7_4">den / puzzle</div>
                    <div id="t18_4" class="t s7_4">birds / sticks</div>
                    <div id="t19_4" class="t s7_4">rain / snow</div>
                    <div id="t1a_4" class="t s7_4">start/stop</div>
                    <div id="t1b_4" class="t s7_4">sing / play</div>
                    <div id="t1c_4" class="t s8_4">STORYTIME</div>
                    <div id="t1d_4" class="t s9_4">STORYTIME</div>
                    <div id="t1e_4" class="t s10_4"><a onclick="javascript:window.top.close()" style="cursor:pointer">LOGGA UT</a></div>
                    <div id="tvalj1" class="t s10_4">VÄLJ KAPITEL</div>
                    <div id="tvalj2" class="t s10_4">VÄLJ SIDA</div>
                    <!-- End text definitions -->
                    <form>
                        <input type="button" tabindex="1" id="index" name="index" pdfFieldName="index" onclick="location.href='/'" style="cursor:pointer;" title="Index" />
                        <input type="button" tabindex="2" id="wildanimals" name="wildanimals" pdfFieldName="wildanimals" onclick="location.href='/wildanimals'" style="cursor:pointer;" title="Wild Animals" />
                        <input type="button" tabindex="3" id="previous" name="previous" pdfFieldName="previous" onclick="location.href='/wildanimals/page1'" style="cursor:pointer;" title="Previous" />
                        <input type="button" tabindex="4" id="next" name="next" pdfFieldName="next" onclick="location.href='/wildanimals/page3'" style="cursor:pointer;" title="Next" />
                        <!--  <input type="button" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page2/img/popup1.png" id="popup_btn" data-top="0%" onclick="showImage('popup1')" style="cursor:pointer;"> -->
                    </form>
                    <!-- Begin page background -->
                    <div id="pg4Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg4">
                        <object width="1160" height="1190" data="~/chapters/wildanimals/page2/4.svg" type="image/svg+xml" id="svgImage" style="width:1160px; height:1190px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
                <div id="rightSide" style="height: auto;width: auto;right:0;"></div>
            </div>
  
</body>



