@page "/wildanimals/page1"
@model LearnEnglish.Pages.chapters.wildanimals.page1Model
@{
}

<head>   
    <link rel="stylesheet" type="text/css" href="~/chapters/wildanimals/page1/page1.css">
</head>

<body>     
   
            <div id="contentContainer">
                <div id="jpedal" style="overflow: hidden; position:relative; width: 1160px; height: 1190px;">
                    <img id="playbutton" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page1/img/wildanimals-playbutton.png" alt="play">
                    <!-- Begin text definitions (Positioned/styled in CSS) -->
                    <div id="t1_3" class="t s1_3">3</div>
                    <div id="t2_3" class="t m1_3 s2_3">S</div>
                    <div id="t3_3" class="t m2_3 s2_3">t</div>
                    <div id="t4_3" class="t m3_3 s2_3">o</div>
                    <div id="t5_3" class="t m4_3 s2_3">r</div>
                    <div id="t6_3" class="t m5_3 s2_3">y</div>
                    <div id="t7_3" class="t m6_3 s2_3">t</div>
                    <div id="t8_3" class="t m7_3 s2_3">i</div>
                    <div id="t9_3" class="t m8_3 s2_3">m</div>
                    <div id="ta_3" class="t m9_3 s2_3">e</div>
                    <div id="tb_3" class="t s3_3">Chapter 3 </div>
                    <div id="tc_3" class="t s3_3">The Den</div>
                    <div id="td_3" class="t s4_3">The children were by the </div>
                    <div id="te_3" class="t s4_3">stream. Wilf had an idea.</div>
                    <div id="tf_3" class="t s5_3">1</div>
                    <div id="tg_3" class="t s6_3">1.</div>
                    <div id="th_3" class="t s6_3">2.</div>
                    <div id="ti_3" class="t s6_3">3.</div>
                    <div id="tj_3" class="t s6_3">4.</div>
                    <div id="tk_3" class="t s6_3">5.</div>
                    <div id="tl_3" class="t m10_3 s7_3">Series created by</div>
                    <div id="tm_3" class="t m10_3 s8_3">Roderick Hunt</div>
                    <div id="tn_3" class="t m10_3 s7_3">and</div>
                    <div id="to_3" class="t m10_3 s8_3">Alex Brychta</div>
                    <div id="tp_3" class="t m10_3 s9_3">The</div>
                    <div id="tq_3" class="t m10_3 s10_3">Den</div>
                    <div id="tr_3" class="t s4_3">Wilf found some sticks.</div>
                    <div id="ts_3" class="t s5_3">2</div>
                    <div id="tt_3" class="t s4_3">“Let’s make a den,” he said. “Put </div>
                    <div id="tu_3" class="t s4_3">the sticks like this.”</div>
                    <div id="tv_3" class="t s5_3">3</div>
                    <div id="tw_3" class="t s4_3">They all found some sticks.</div>
                    <div id="tx_3" class="t s5_3">4</div>
                    <div id="ty_3" class="t s4_3">Chip found lots of branches and</div>
                    <div id="tz_3" class="t s4_3">Wilma found some straw.</div>
                    <div id="t10_3" class="t s5_3">5</div>
                    <div id="t11_3" class="t s4_3">Biff found some logs.</div>
                    <div id="t12_3" class="t s5_3">6</div>
                    <div id="t13_3" class="t s4_3">“We can sit on them inside the</div>
                    <div id="t14_3" class="t s4_3">den,” she said.</div>
                    <div id="t15_3" class="t s5_3">7</div>
                    <div id="t16_3" class="t s4_3">The children sat in the den but</div>
                    <div id="t17_3" class="t s4_3">it began to rain.</div>
                    <div id="t18_3" class="t s5_3">8</div>
                    <div id="t19_3" class="t s4_3">The rain splashed into the den.</div>
                    <div id="t1a_3" class="t s4_3">“I’m getting wet,” said Kipper.</div>
                    <div id="t1b_3" class="t s5_3">9</div>
                    <div id="t1c_3" class="t s11_3">STORYTIME</div>
                    <div id="t1d_3" class="t s12_3">STORYTIME</div>
                    <div id="t1e_3" class="t s13_3"><a onclick="javascript:window.top.close()" style="cursor:pointer">LOGGA UT</a></div>
                    <div id="tvalj1" class="t s13_3">VÄLJ KAPITEL</div>
                    <div id="tvalj2" class="t s13_3">VÄLJ SIDA</div>
                    <!-- End text definitions -->
                    <form>
                        <input type="button" tabindex="1" id="call_page3_1" onclick="location.href='/'" style="cursor:pointer;" title="Index" />
                        <input type="button" tabindex="2" id="call_page3_2" onclick="location.href='/wildanimals'" style="cursor:pointer;" title="Wild Animals" />
                        <input type="button" tabindex="3" id="call_page3_4" onclick="location.href='/wildanimals/page2'" style="cursor:pointer;" title="Next" />
                        <input type="button" tabindex="4" id="storybook" name="storybook" pdffieldname="storybook" onclick="location.href = '/storybook?story=Den&&LicenseId=20102015&&grade=3&&ebook=wildanimals'" style="cursor:pointer;" title="The Den">
                    </form>
                    <!-- Begin page background -->
                    <div id="pg3Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg3">
                        <object width="1160" height="1190" data="~/chapters/wildanimals/page1/3.svg" type="image/svg+xml" id="svgImage" style="width:1160px; height:1190px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
            </div>     
  
</body>



