@page "/welcomeback/page2"
@model LearnEnglish.Pages.WelcomeBack.page2Model
@{
}

<head>    
    <link rel="stylesheet" type="text/css" href="~/chapters/welcomeback/page2/page2.css">   
</head>

<body>
            <input type="button" tabindex="2" id="playAudio_song1" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/audio/Hello_How_Are_You_MASTER_v1" data-popupid="popup5" data-audio-highlight="true" name="playSong" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this); song_setIndex(); viewAedioTextSong();" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
            <input type="button" tabindex="2" id="playAudio_song2" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/audio/Hello_how_are_you_SINGBACK_MASTER_v1" data-popupid="popup5" data-audio-highlight="true" name="playSong" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this); song_setIndex(); viewAedioTextSong();" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
            <input type="button" id="closeBtn" class="closeBtn" onclick="song_clearIndex(); txtbgColorSong();" style="opacity:0" />
            <img id="popup5" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/page2/img/popupSong.png" data-top="0%" class="popup" />
            <img id="popup1" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/page2/img/popup1.png" data-imgurl="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/page2/img/popup1.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <img id="popup2" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/page2/img/popup2.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <img id="popup3" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/page2/img/popup3.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <img id="popup4" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/WelcomeBack/page2/img/popup4.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <label id="txtbgColor" data-seekTimeStart="25" class="bgColor"></label>
            <label id="line_1" data-seekTimeStart="0" data-rhymes="true" data-seekTimeEnd="3.851" class="labelSong songText animated" style="top:54%" data-top="54">Hello, how are you?</label>
            <label id="line_2" data-seekTimeStart="2.9" data-rhymes="true" data-seekTimeEnd="06.370" class="labelSong songText animated" style="top:54%" data-top="54">Hello, how are you?</label>
            <label id="line_3" data-seekTimeStart="4.92" data-rhymes="true" data-seekTimeEnd="09.620" class="labelSong songText animated" style="top:54%" data-top="54">Hello, how are you?</label>
            <label id="line_4" data-seekTimeStart="8.48" data-rhymes="true" data-seekTimeEnd="09.620" class="labelSong songText animated" style="top:54%" data-top="54"></label>
            <label id="line_5" data-seekTimeStart="8.48" data-rhymes="true" data-seekTimeEnd="10.626" class="labelSong songText animated" style="top:54%" data-top="54">I’m great,</label>
            <label id="line_6" data-seekTimeStart="9.67" data-rhymes="true" data-seekTimeEnd="11.738" class="labelSong songText animated" style="top:550px" data-top="54">I’m fine,</label>
            <label id="line_7" data-seekTimeStart="10.79" data-rhymes="true" data-seekTimeEnd="12.736" class="labelSong songText animated" style="top:550px" data-top="54">I’m ok,</label>
            <label id="line_8" data-seekTimeStart="11.76" data-rhymes="true" data-seekTimeEnd="13.904" class="labelSong songText animated" style="top:550px" data-top="54">I’m happy,</label>
            <label id="line_9" data-seekTimeStart="13.09" data-rhymes="true" data-seekTimeEnd="16.836" class="labelSong songText animated" style="top:550px" data-top="54">I’m wonderful today.</label>
            <label id="line_10" data-seekTimeStart="17.89" data-rhymes="true" data-seekTimeEnd="18.817" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_11" data-seekTimeStart="17.89" data-rhymes="true" data-seekTimeEnd="20.606" class="labelSong songText animated" style="top:550px" data-top="54">Hello, how are you?</label>
            <label id="line_12" data-seekTimeStart="19.67" data-rhymes="true" data-seekTimeEnd="23.041" class="labelSong songText animated" style="top:550px" data-top="54">Hello, how are you?</label>
            <label id="line_13" data-seekTimeStart="22.11" data-rhymes="true" data-seekTimeEnd="25.268" class="labelSong songText animated" style="top:550px" data-top="54">Hello, how are you?</label>
            <label id="line_14" data-seekTimeStart="25.38" data-rhymes="true" data-seekTimeEnd="26.324" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_15" data-seekTimeStart="25.38" data-rhymes="true" data-seekTimeEnd="27.329" class="labelSong songText animated" style="top:550px" data-top="54">I’m tired,</label>
            <label id="line_16" data-seekTimeStart="26.44" data-rhymes="true" data-seekTimeEnd="28.356" class="labelSong songText animated" style="top:550px" data-top="54">I’m bored,</label>
            <label id="line_17" data-seekTimeStart="27.45" data-rhymes="true" data-seekTimeEnd="29.432" class="labelSong songText animated" style="top:550px" data-top="54">I’m ok,</label>
            <label id="line_18" data-seekTimeStart="28.49" data-rhymes="true" data-seekTimeEnd="30.754" class="labelSong songText animated" style="top:550px" data-top="54">I’m angry,</label>
            <label id="line_19" data-seekTimeStart="29.71" data-rhymes="true" data-seekTimeEnd="33.729" class="labelSong songText animated" style="top:550px" data-top="54">I’m very sad today.</label>
            <label id="line_20" data-seekTimeStart="34.57" data-rhymes="true" data-seekTimeEnd="35.472" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_21" data-seekTimeStart="34.57" data-rhymes="true" data-seekTimeEnd="37.491" class="labelSong songText animated" style="top:550px" data-top="54">Hello, how are you?</label>
            <label id="line_22" data-seekTimeStart="36.65" data-rhymes="true" data-seekTimeEnd="39.39" class="labelSong songText animated" style="top:550px" data-top="54">Hello, how are you?</label>
            <label id="line_23" data-seekTimeStart="38.79" data-rhymes="true" data-seekTimeEnd="41.936" class="labelSong songText animated" style="top:550px" data-top="54">Hello, how are you?</label>
            <label id="line_24" data-seekTimeStart="42.06" data-rhymes="true" data-seekTimeEnd="42.962" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_25" data-seekTimeStart="42.05" data-rhymes="true" data-seekTimeEnd="47.224" class="labelSong songText animated" style="top:550px" data-top="54">I’m very well today, thank you!</label>
            <div id="contentContainer">
                <div id="jpedal" style="overflow: hidden; position: relative; width: 1160px; height: 1190px;">
                    <!-- Begin text definitions (Positioned/styled in CSS) -->
                    <div id="t1_4" class="t s1_4">Chapter 1 </div>
                    <div id="t2_4" class="t s1_4">Welcome Back</div>
                    <div id="t3_4" class="t s2_4">Write your answers</div>
                    <div id="t4_4" class="t s3_4">What do you like?</div>
                    <div id="t5_4" class="t s3_4">What can you do?</div>
                    <div id="t6_4" class="t s3_4">What do you have?</div>
                    <div id="t7_4" class="t s3_4">What are you wearing?</div>
                    <div id="t8_4" class="t s4_4">I like</div>
                    <div id="t9_4" class="t s4_4">I can</div>
                    <div id="ta_4" class="t s4_4">I have</div>
                    <div id="tb_4" class="t s4_4">I am wearing</div>
                    <div id="tc_4" class="t s5_4">WELCOME BACK </div>
                    <div id="td_4" class="t s6_4">WELCOME BACK</div>
                    <div id="te_4" class="t s7_4">1</div>
                    <div id="tf_4" class="t s8_4"><a onclick="window.top.close()" style="cursor:pointer">LOGGA UT</a></div>
                    <div id="tvalj1" class="t s8_4">VÄLJ KAPITEL</div>
                    <div id="tvalj2" class="t s8_4">VÄLJ SIDA</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="1" id="call_page4_1" onclick="location.href='/'" style="cursor:pointer;" title="Index" />
                        <input type="button" tabindex="2" id="call_page4_2" onclick="location.href='/welcomeback'" style="cursor:pointer;" title="Welcome Back" />
                        <input type="button" tabindex="3" id="call_page4_3" onclick="location.href='/welcomeback/page1'" style="cursor:pointer;" title="Previous" />
                        <input type="button" tabindex="2" id="playAudio_1_3" data-popupid="popup5" onclick="song_setIndex(); showImage('popup5'); viewAedioTextSong();" class="playButton popup5" style="cursor:pointer;" />
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg4Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg4">
                        <object width="1160" height="1190" data="~/chapters/welcomeback/page2/4.svg" type="image/svg+xml" id="svgImage" style="width:1160px; height:1190px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
            </div>
            <div id="rightSide" style="height: auto;width: auto;right:0;" onclick="clsVideo()"></div>       
</body>

