@page "/goodtoknow/page2"
@model LearnEnglish.Pages.chapters.goodtoknow.page2Model
@{
}

<head>   
    <link rel="stylesheet" type="text/css" href="~/chapters/goodtoknow/page2/page2.css">
</head>

<body>
            <label data-seekTimeStart="01.098" data-seekTimeEnd="01.709" class="label lbl_1"></label>
            <label data-seekTimeStart="03.766" data-seekTimeEnd="04.550" class="label lbl_2"></label>
            <label data-seekTimeStart="06.590" data-seekTimeEnd="07.410" class="label lbl_3"></label>
            <label data-seekTimeStart="09.450" data-seekTimeEnd="10.217" class="label lbl_4"></label>
            <label data-seekTimeStart="12.326" data-seekTimeEnd="13.094" class="label lbl_5"></label>
            <label data-seekTimeStart="15.168" data-seekTimeEnd="15.988" class="label lbl_6"></label>
            <label data-seekTimeStart="18.028" data-seekTimeEnd="18.795" class="label lbl_7"></label>
            <label data-seekTimeStart="20.852" data-seekTimeEnd="22.247" class="label lbl_8"></label>
            <label data-seekTimeStart="24.339" data-seekTimeEnd="25.838" class="label lbl_9"></label>
            <label data-seekTimeStart="28.035" data-seekTimeEnd="29.622" class="label lbl_10"></label>
            <label data-seekTimeStart="01.098" data-seekTimeEnd="01.709" class="label_img lbl_1_img"></label>
            <label data-seekTimeStart="03.766" data-seekTimeEnd="04.550" class="label_img lbl_2_img"></label>
            <label data-seekTimeStart="06.590" data-seekTimeEnd="07.410" class="label_img lbl_3_img"></label>
            <label data-seekTimeStart="09.450" data-seekTimeEnd="10.217" class="label_img lbl_4_img"></label>
            <label data-seekTimeStart="12.326" data-seekTimeEnd="13.094" class="label_img lbl_5_img"></label>
            <label data-seekTimeStart="15.168" data-seekTimeEnd="15.988" class="label_img lbl_6_img"></label>
            <label data-seekTimeStart="18.028" data-seekTimeEnd="18.795" class="label_img lbl_7_img"></label>
            <label data-seekTimeStart="20.852" data-seekTimeEnd="22.247" class="label_img lbl_8_img"></label>
            <label data-seekTimeStart="24.339" data-seekTimeEnd="25.838" class="label_img lbl_9_img"></label>
            <label data-seekTimeStart="28.035" data-seekTimeEnd="29.622" class="label_img lbl_10_img"></label>
            <label data-seekTimeStart="01.008" data-seekTimeEnd="01.671" class="label_circle lbl_1_circle"></label>
            <label data-seekTimeStart="03.637" data-seekTimeEnd="04.374" class="label_circle lbl_2_circle"></label>
            <label data-seekTimeStart="06.316" data-seekTimeEnd="07.004" class="label_circle lbl_3_circle"></label>
            <label data-seekTimeStart="08.921" data-seekTimeEnd="09.568" class="label_circle lbl_4_circle"></label>
            <label data-seekTimeStart="11.501" data-seekTimeEnd="12.239" class="label_circle lbl_5_circle"></label>
            <label data-seekTimeStart="14.229" data-seekTimeEnd="15.040" class="label_circle lbl_6_circle"></label>
            <label data-seekTimeStart="16.982" data-seekTimeEnd="17.719" class="label_circle lbl_7_circle"></label>
            <label data-seekTimeStart="19.660" data-seekTimeEnd="20.299" class="label_circle lbl_8_circle"></label>
            <label data-seekTimeStart="22.265" data-seekTimeEnd="22.806" class="label_circle lbl_9_circle"></label>
            <label data-seekTimeStart="24.772" data-seekTimeEnd="25.386" class="label_circle lbl_10_circle"></label>
            <label data-seekTimeStart="27.377" data-seekTimeEnd="28.114" class="label_circle lbl_11_circle"></label>
            <label data-seekTimeStart="30.105" data-seekTimeEnd="30.842" class="label_circle lbl_12_circle"></label>
            <label data-seekTimeStart="32.833" data-seekTimeEnd="33.693" class="label_circle lbl_13_circle"></label>
            <label data-seekTimeStart="35.683" data-seekTimeEnd="36.494" class="label_circle lbl_14_circle"></label>
            <label data-seekTimeStart="38.485" data-seekTimeEnd="39.321" class="label_circle lbl_15_circle"></label>
            <label data-seekTimeStart="41.311" data-seekTimeEnd="42.196" class="label_circle lbl_16_circle"></label>
            <input type="button" tabindex="2" id="playAudio_song1" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/audio/7_days_of_the_week_MASTER_v1" data-popupid="popup3" data-audio-highlight="true" name="playSong" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this); song_setIndex(); viewAedioTextSong();" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
            <input type="button" tabindex="2" id="playAudio_song2" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/audio/7_days_of_the_week_SINGBACK_MASTER_v1" data-popupid="popup3" data-audio-highlight="true" name="playSong" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this); song_setIndex(); viewAedioTextSong();" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
            <input type="button" id="closeBtn" class="closeBtn" onclick="song_clearIndex(); txtbgColorSong();" style="opacity:0" />
            <img id="popup3" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/page2/img/popupSong.png" data-top="0%" class="popup" />
            <img id="popup1" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/page2/img/popup1.png" data-imgurl="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/page2/img/popup1.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <img id="popup2" src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/page2/img/popup2.png" data-top="0%" onclick="showImage(this.id)" class="popup" />
            <label id="txtbgColor" data-seekTimeStart="39" class="bgColor"></label>
            <label id="line_1" data-seekTimeStart="0" data-rhymes="true" data-seekTimeEnd="05.898" class="labelSong songText animated" style="top:54%" data-top="54">1-2-3, here we go!</label>
            <label id="line_2" data-seekTimeStart="5.34" data-rhymes="true" data-seekTimeEnd="8.206" class="labelSong songText animated" style="top:54%" data-top="54">The week has seven days.</label>
            <label id="line_3" data-seekTimeStart="7.120" data-rhymes="true" data-seekTimeEnd="08.906" class="labelSong songText animated" style="top:54%" data-top="54">– What?</label>
            <label id="line_4" data-seekTimeStart="7.99" data-rhymes="true" data-seekTimeEnd="10.770" class="labelSong songText animated" style="top:54%" data-top="54">Seven days in a week.</label>
            <label id="line_5" data-seekTimeStart="10.290" data-rhymes="true" data-seekTimeEnd="11.350" class="labelSong songText animated" style="top:54%" data-top="54">– What?</label>
            <label id="line_6" data-seekTimeStart="11" data-rhymes="true" data-seekTimeEnd="15.431" class="labelSong songText animated" style="top:550px" data-top="54">Whenever I rap, you rap it back. Come on!</label>
            <label id="line_7" data-seekTimeStart="14.52" data-rhymes="true" data-seekTimeEnd="16.505" class="labelSong songText animated" style="top:550px" data-top="54">Let’s go!</label>
            <label id="line_8" data-seekTimeStart="16.46" data-rhymes="true" data-seekTimeEnd="16.45" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_9" data-seekTimeStart="16.46" data-rhymes="true" data-seekTimeEnd="20.112" class="labelSong songText animated" style="top:550px" data-top="54">Monday - Monday</label>
            <label id="line_10" data-seekTimeStart="19.39" data-rhymes="true" data-seekTimeEnd="23.069" class="labelSong songText animated" style="top:550px" data-top="54">Tuesday - Tuesday</label>
            <label id="line_11" data-seekTimeStart="22.17" data-rhymes="true" data-seekTimeEnd="25.769" class="labelSong songText animated" style="top:550px" data-top="54">Wednesday - Wednesday</label>
            <label id="line_12" data-seekTimeStart="25.07" data-rhymes="true" data-seekTimeEnd="28.659" class="labelSong songText animated" style="top:550px" data-top="54">Thursday - Thursday</label>
            <label id="line_13" data-seekTimeStart="27.75" data-rhymes="true" data-seekTimeEnd="31.473" class="labelSong songText animated" style="top:550px" data-top="54">Friday - Friday</label>
            <label id="line_14" data-seekTimeStart="30.57" data-rhymes="true" data-seekTimeEnd="34.292" class="labelSong songText animated" style="top:550px" data-top="54">Saturday - Saturday</label>
            <label id="line_15" data-seekTimeStart="33.39" data-rhymes="true" data-seekTimeEnd="37." class="labelSong songText animated" style="top:550px" data-top="54">Sunday - Sunday</label>
            <label id="line_16" data-seekTimeStart="37.228" data-rhymes="true" data-seekTimeEnd="37.227" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_17" data-seekTimeStart="36.33" data-rhymes="true" data-seekTimeEnd="40.004" class="labelSong songText animated" style="top:550px" data-top="54">One more time but faster now.</label>
            <label id="line_18" data-seekTimeStart="39.11" data-rhymes="true" data-seekTimeEnd="39.10" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_19" data-seekTimeStart="39.11" data-rhymes="true" data-seekTimeEnd="41.512" class="labelSong songText animated" style="top:550px" data-top="54">Monday - Monday</label>
            <label id="line_20" data-seekTimeStart="40.61" data-rhymes="true" data-seekTimeEnd="42.945" class="labelSong songText animated" style="top:550px" data-top="54">Tuesday - Tuesday</label>
            <label id="line_21" data-seekTimeStart="42.04" data-rhymes="true" data-seekTimeEnd="44.368" class="labelSong songText animated" style="top:550px" data-top="54">Wednesday - Wednesday</label>
            <label id="line_22" data-seekTimeStart="43.46" data-rhymes="true" data-seekTimeEnd="45.754" class="labelSong songText animated" style="top:550px" data-top="54">Thursday - Thursday</label>
            <label id="line_23" data-seekTimeStart="44.85" data-rhymes="true" data-seekTimeEnd="47.060" class="labelSong songText animated" style="top:550px" data-top="54">Friday - Friday</label>
            <label id="line_24" data-seekTimeStart="46.15" data-rhymes="true" data-seekTimeEnd="48.602" class="labelSong songText animated" style="top:550px" data-top="54">Saturday - Saturday</label>
            <label id="line_25" data-seekTimeStart="47.7" data-rhymes="true" data-seekTimeEnd="50.022" class="labelSong songText animated" style="top:550px" data-top="54">Sunday - Sunday</label>
            <label id="line_26" data-seekTimeStart="49.12" data-rhymes="true" data-seekTimeEnd="52.499" class="labelSong songText animated" style="top:550px" data-top="54">Seven days in a week. Yeah!</label>
            <label id="line_27" data-seekTimeStart="51.6" data-rhymes="true" data-seekTimeEnd="58.367" class="labelSong songText animated" style="top:550px" data-top="54">Let’s do it fast together now. 1 - 2 - 3 - 4</label>
            <label id="line_28" data-seekTimeStart="57.47" data-rhymes="true" data-seekTimeEnd="57.46" class="labelSong songText animated" style="top:550px" data-top="54"></label>
            <label id="line_29" data-seekTimeStart="57.47" data-rhymes="true" data-seekTimeEnd="63.338" class="labelSong songText animated" style="top:550px" data-top="54">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.</label>
            <label id="line_30" data-seekTimeStart="62.42" data-rhymes="true" data-seekTimeEnd="64.033" class="labelSong songText animated" style="top:550px" data-top="54">Again!</label>
            <label id="line_31" data-seekTimeStart="63.13" data-rhymes="true" data-seekTimeEnd="68.908" class="labelSong songText animated" style="top:550px" data-top="54">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.</label>
            <label id="line_32" data-seekTimeStart="68" data-rhymes="true" data-seekTimeEnd="69.505" class="labelSong songText animated" style="top:550px" data-top="54">Faster!</label>
            <label id="line_33" data-seekTimeStart="68.61" data-rhymes="true" data-seekTimeEnd="73.735" class="labelSong songText animated" style="top:550px" data-top="54">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.</label>
            <label id="line_34" data-seekTimeStart="72.85" data-rhymes="true" data-seekTimeEnd="74.409" class="labelSong songText animated" style="top:550px" data-top="54">Again!</label>
            <label id="line_35" data-seekTimeStart="73.49" data-rhymes="true" data-seekTimeEnd="78.715" class="labelSong songText animated" style="top:550px" data-top="54">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.</label>
            <label id="line_36" data-seekTimeStart="77.8" data-rhymes="true" data-seekTimeEnd="79.178" class="labelSong songText animated" style="top:550px" data-top="54">Faster!</label>
            <label id="line_37" data-seekTimeStart="78.33" data-rhymes="true" data-seekTimeEnd="83.136" class="labelSong songText animated" style="top:550px" data-top="54">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.</label>
            <label id="line_38" data-seekTimeStart="82.2" data-rhymes="true" data-seekTimeEnd="83.606" class="labelSong songText animated" style="top:550px" data-top="54">Faster!</label>
            <label id="line_39" data-seekTimeStart="82.71" data-rhymes="true" data-seekTimeEnd="118.346" class="labelSong songText animated" style="top:550px" data-top="54">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.</label>
            <div id="contentContainer">
                <div id="jpedal" style="overflow: hidden; position: relative; width: 1160px; height: 1190px;">
                    <!-- Begin text definitions (Positioned/styled in CSS) -->
                    <div id="t1_4" class="t s1_4">Chapter 2 </div>
                    <div id="t2_4" class="t s1_4">Good to know</div>
                    <div id="t3_4" class="t s2_4">Learn new words and phrases</div>
                    <div id="t4_4" class="t s2_4">Learn new words</div>
                    <div id="t5_4" class="t s3_4">Monday </div>
                    <div id="t6_4" class="t s3_4">Tuesday </div>
                    <div id="t7_4" class="t s3_4">Wednesday </div>
                    <div id="t8_4" class="t s3_4">Thursday </div>
                    <div id="t9_4" class="t s3_4">Friday </div>
                    <div id="ta_4" class="t s3_4">Saturday </div>
                    <div id="tb_4" class="t s3_4">Sunday</div>
                    <div id="tc_4" class="t s4_4">What day is it today?</div>
                    <div id="td_4" class="t s4_4">What day is it tomorrow?</div>
                    <div id="te_4" class="t s4_4">What day was it yesterday?</div>
                    <div id="tf_4" class="t s5_4">GOOD TO KNOW</div>
                    <div id="tg_4" class="t s6_4">GOOD TO KNOW</div>
                    <div id="th_4" class="t s7_4">2</div>
                    <div id="ti_4" class="t s8_4"><a onclick="javascript:window.top.close()" style="cursor:pointer">LOGGA UT</a></div>
                    <div id="tvalj1" class="t s8_4">VÄLJ KAPITEL</div>
                    <div id="tvalj2" class="t s8_4">VÄLJ SIDA</div>
                    <!-- End text definitions -->
                    <!-- Begin Form Data -->
                    <form>
                        <input type="button" tabindex="1" id="call_page4_1" onclick="location.href='/'" style="cursor:pointer;" title="Index" />
                        <input type="button" tabindex="2" id="call_page4_2" onclick="location.href='/goodtoknow'" style="cursor:pointer;" title="Good To Know" />
                        <input type="button" tabindex="3" id="call_page4_3" onclick="location.href='/goodtoknow/page1'" style="cursor:pointer;" title="Previous" />
                        <input type="button" tabindex="5" id="playAudio_1_1" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/audio/2_5" data-popupid="popup1" data-audio-highlight="true" name="playAudio g2_1_2" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this)" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
                        <input type="button" tabindex="6" id="playAudio_1_2" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/audio/2_6" data-popupid="popup1" name="playAudio g2_1_2" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this)" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
                        <input type="button" tabindex="7" id="playAudio_1_3" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/audio/2_7" data-audio-highlight="true" data-popupid="popup2" name="circle" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this)" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
                        <input type="button" tabindex="8" id="playAudio_1_4" data-audio-src="https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/Goodtoknow/audio/2_8" data-popupid="popup2" name="playAudio g2_1_2" pdfFieldName="playAudio g2_1_2" onclick="playAudio(this)" class="LearnNew_Rap playButton popup1" style="cursor:pointer;" />
                        <input type="button" tabindex="9" id="playAudio_1_5" data-popupid="popup3" onclick="song_setIndex(); showImage('popup3'); viewAedioTextSong();" class="playButton popup1" style="cursor:pointer;" />
                        <input type="button" tabindex="10" id="ballon_goodtoknow" onclick="location.href='/balloon?type=goodtoknow&&chapter=good to know'" style="cursor:pointer;">
                    </form>
                    <!-- End Form Data -->
                    <!-- Begin page background -->
                    <div id="pg4Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                    <div id="pg4">
                        <object width="1160" height="1190" data="~/chapters/goodtoknow/page2/4.svg" type="image/svg+xml" id="svgImage" style="width:1160px; height:1190px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object>
                    </div>
                </div>
            </div>
            <div id="rightSide" style="height: auto;width: auto;right:0;"></div>      
   
</body>


