/*Begin shared CSS values*/

@font-face {
    font-family: JLMDBY-MyriadPro-Semibold3;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/MyriadPro-Semibold.woff") format("woff");
}

@font-face {
    font-family: JLMDBY-SpudAFCrisp3;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/ELOZJI-SpudAFCrisp.woff") format("woff");
}

@font-face {
    font-family: JLMDBY-CoreCircus2DDot33;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/Circus-2d-Dot3.woff") format("woff");
}

@font-face {
    font-family: JLMDBY-CoreCircus3;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/Core-Circus.woff") format("woff");
}

@font-face {
    font-family: JLMDBY-MyriadPro-Regular3;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/MyriadPro-Regular.woff") format("woff");
}

@font-face {
    font-family: JLMDBY-MyriadPro-Bold3;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/MyriadPro-Bold.woff") format("woff");
}

@font-face {
    font-family: JLMDBY-GillEducational-Regular3;
    src: url("https://majemastoragetest.blob.core.windows.net/learn-english-test/content/fonts/GillEducational-wildanimalsp1.woff") format("woff");
}

#playbutton {
    position: absolute;
    top: 23.8%;
    left: 46.6%;
    max-width: 8.5%;
    z-index: 4;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.t {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -ms-transform: scale(0.25);
    z-index: 2;
    position: absolute;
    white-space: pre;
    overflow: visible;
}


/*#index {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 47px;
    top: 216px;
    width: 126px;
    height: 35px;
    text-align: left;
    background: transparent;
    background-repeat: no-repeat;
    font: normal 27px Arial, Helvetica, sans-serif;
}

#index:active {
    background-repeat: no-repeat;
}

#wildanimals {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 47px;
    top: 282px;
    width: 126px;
    height: 35px;
    text-align: left;
    background: transparent;
    background-repeat: no-repeat;
    font: normal 27px Arial, Helvetica, sans-serif;
}

#next {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 125px;
    top: 493px;
    width: 46px;
    height: 42px;
    text-align: left;
    background: transparent;
    background-image: url("https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/wildanimals/page1/img/23.png");
    background-repeat: no-repeat;
    font: normal 27px Arial, Helvetica, sans-serif;
}*/

#call_page3_1 {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 47px;
    top: 215px;
    width: 126px;
    height: 35px;
    text-align: left;
    background: transparent;
    background-repeat: no-repeat;
    font: normal 27px Arial, Helvetica, sans-serif;
}

#call_page3_2 {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 47px;
    top: 282px;
    width: 126px;
    height: 35px;
    text-align: left;
    background: transparent;
    background-repeat: no-repeat;
    font: normal 27px Arial, Helvetica, sans-serif;
}

#call_page3_4 {
    border-style: none;
    z-index: 2;
    position: absolute;
    left: 126px;
    top: 494px;
    width: 46px;
    height: 42px;
    text-align: left;
    background: transparent;
    background-image: url("https://majemastoragelive.blob.core.windows.net/learn-english-test/ebook/Grade3/images/Next.png");
    background-repeat: no-repeat;
    font: normal 27px Arial, Helvetica, sans-serif;
}

#t1_3 {
    left: 267px;
    top: 24px;
}

#t2_3 {
    left: 343px;
    top: 29px;
}

#t3_3 {
    left: 359px;
    top: 26px;
}

#t4_3 {
    left: 374px;
    top: 25px;
}

#t5_3 {
    left: 389px;
    top: 28px;
}

#t6_3 {
    left: 399px;
    top: 30px;
}

#t7_3 {
    left: 411px;
    top: 33px;
}

#t8_3 {
    left: 419px;
    top: 34px;
}

#t9_3 {
    left: 420px;
    top: 37px;
}

#ta_3 {
    left: 437px;
    top: 33px;
}

#tb_3 {
    left: 257px;
    top: 1156px;
    letter-spacing: 1px;
    word-spacing: 0.2px;
}

#tc_3 {
    left: 333px;
    top: 1156px;
    letter-spacing: 0.9px;
    word-spacing: 0.4px;
}

#td_3 {
    left: 930px;
    top: 338px;
    letter-spacing: 0.1px;
    word-spacing: 1.6px;
}

#te_3 {
    left: 930px;
    top: 351px;
    letter-spacing: 0.1px;
    word-spacing: 2.7px;
}

#tf_3 {
    left: 1100px;
    top: 375px;
}

#tg_3 {
    left: 904px;
    top: 105px;
}

#th_3 {
    left: 258px;
    top: 446px;
}

#ti_3 {
    left: 693px;
    top: 446px;
}

#tj_3 {
    left: 257px;
    top: 790px;
}

#tk_3 {
    left: 693px;
    top: 792px;
}

#tl_3 {
    left: 456px;
    top: 346px;
    letter-spacing: 0.4px;
}

#tm_3 {
    left: 489px;
    top: 347px;
    letter-spacing: 0.3px;
    word-spacing: 0.2px;
}

#tn_3 {
    left: 521px;
    top: 349px;
    letter-spacing: 1px;
}

#to_3 {
    left: 529px;
    top: 349px;
    letter-spacing: 0.3px;
    word-spacing: 0.1px;
}

#tp_3 {
    left: 534px;
    top: 147px;
    letter-spacing: -2.5px;
}

#tq_3 {
    left: 521px;
    top: 164px;
    letter-spacing: -4.4px;
}

#tr_3 {
    left: 282px;
    top: 683px;
    letter-spacing: 0.1px;
    word-spacing: 1.6px;
}

#ts_3 {
    left: 270px;
    top: 721px;
}

#tt_3 {
    left: 493px;
    top: 683px;
    letter-spacing: -0.1px;
    word-spacing: 2.8px;
}

#tu_3 {
    left: 493px;
    top: 696px;
    letter-spacing: -0.1px;
    word-spacing: 1.6px;
}

#tv_3 {
    left: 663px;
    top: 721px;
}

#tw_3 {
    left: 718px;
    top: 683px;
    letter-spacing: 0.2px;
    word-spacing: 1.6px;
}

#tx_3 {
    left: 706px;
    top: 721px;
}

#ty_3 {
    left: 929px;
    top: 683px;
    letter-spacing: 0.2px;
    word-spacing: 1.6px;
}

#tz_3 {
    left: 929px;
    top: 696px;
    word-spacing: 1.6px;
}

#t10_3 {
    left: 1100px;
    top: 721px;
}

#t11_3 {
    left: 283px;
    top: 1024px;
    letter-spacing: 0.1px;
    word-spacing: 1.6px;
}

#t12_3 {
    left: 271px;
    top: 1062px;
}

#t13_3 {
    left: 494px;
    top: 1024px;
    word-spacing: 2px;
}

#t14_3 {
    left: 494px;
    top: 1037px;
    letter-spacing: -0.2px;
    word-spacing: 2.2px;
}

#t15_3 {
    left: 665px;
    top: 1062px;
}

#t16_3 {
    left: 719px;
    top: 1024px;
    letter-spacing: 0.2px;
    word-spacing: 1.6px;
}

#t17_3 {
    left: 719px;
    top: 1037px;
    letter-spacing: 0.2px;
    word-spacing: 1.6px;
}

#t18_3 {
    left: 706px;
    top: 1062px;
}

#t19_3 {
    left: 929px;
    top: 1024px;
    letter-spacing: 0.2px;
    word-spacing: 1.6px;
}

#t1a_3 {
    left: 929px;
    top: 1037px;
    letter-spacing: -0.1px;
    word-spacing: 1.7px;
}

#t1b_3 {
    left: 1100px;
    top: 1062px;
}

#t1c_3 {
    left: 40px;
    top: 147px;
    letter-spacing: -12px;
}

#t1d_3 {
    left: 40px;
    top: 147px;
    letter-spacing: -12px;
}

#t1e_3 {
    left: 72px;
    top: 965px;
    letter-spacing: 3.2px;
    word-spacing: 1px;
}

.s1_3 {
    FONT-SIZE: 150.2px;
    FONT-FAMILY: JLMDBY-MyriadPro-Bold3;
    color: rgb(255, 255, 255);
    line-height: 1.45;
}

.s7_3 {
    FONT-SIZE: 17.1px;
    FONT-FAMILY: JLMDBY-MyriadPro-Regular3;
    color: rgb(255, 255, 255);
}

.s5_3 {
    FONT-SIZE: 21.3px;
    FONT-FAMILY: JLMDBY-GillEducational-Regular3;
    color: rgb(0, 0, 0);
}

.s8_3 {
    FONT-SIZE: 20.4px;
    FONT-FAMILY: JLMDBY-MyriadPro-Regular3;
    color: rgb(255, 255, 255);
}

.s6_3 {
    FONT-SIZE: 128.3px;
    FONT-FAMILY: JLMDBY-MyriadPro-Semibold3;
    color: rgb(116, 202, 242);
}

.s2_3 {
    FONT-SIZE: 101.4px;
    FONT-FAMILY: JLMDBY-MyriadPro-Semibold3;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.s4_3 {
    FONT-SIZE: 41.6px;
    FONT-FAMILY: JLMDBY-GillEducational-Regular3;
    color: rgb(0, 0, 0);
}

.s10_3 {
    FONT-SIZE: 126.8px;
    FONT-FAMILY: JLMDBY-SpudAFCrisp3;
    color: rgb(252, 216, 35);
}

.s13_3 {
    FONT-SIZE: 61.1px;
    FONT-FAMILY: JLMDBY-MyriadPro-Semibold3;
    color: rgb(255, 255, 255);
}

.s9_3 {
    FONT-SIZE: 81.9px;
    FONT-FAMILY: JLMDBY-SpudAFCrisp3;
    color: rgb(252, 216, 35);
}

.s3_3 {
    FONT-SIZE: 55px;
    FONT-FAMILY: JLMDBY-MyriadPro-Semibold3;
    color: rgb(0, 0, 0);
}

.s11_3 {
    FONT-SIZE: 85.6px;
    FONT-FAMILY: JLMDBY-CoreCircus3;
    color: rgb(255, 255, 255);
}

.s12_3 {
    FONT-SIZE: 85.6px;
    FONT-FAMILY: JLMDBY-CoreCircus2DDot33;
    color: rgb(116, 202, 242);
}

.t.m8_3 {
    -webkit-transform: matrix(0.97, -0.23, 0.23, 0.97, 0, 0) scale(0.25);
    -ms-transform: matrix(0.97, -0.23, 0.23, 0.97, 0, 0) scale(0.25);
    -moz-transform: matrix(0.97, -0.23, 0.23, 0.97, 0, 0) scale(0.25);
    -o-transform: matrix(0.97, -0.23, 0.23, 0.97, 0, 0) scale(0.25);
}

.t.m1_3 {
    -webkit-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
    -ms-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
    -moz-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
    -o-transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0) scale(0.25);
}

.t.m9_3 {
    -webkit-transform: matrix(0.91, -0.42, 0.42, 0.91, 0, 0) scale(0.25);
    -ms-transform: matrix(0.91, -0.42, 0.42, 0.91, 0, 0) scale(0.25);
    -moz-transform: matrix(0.91, -0.42, 0.42, 0.91, 0, 0) scale(0.25);
    -o-transform: matrix(0.91, -0.42, 0.42, 0.91, 0, 0) scale(0.25);
}

.t.m4_3 {
    -webkit-transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0) scale(0.25);
    -ms-transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0) scale(0.25);
    -moz-transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0) scale(0.25);
    -o-transform: matrix(0.98, 0.21, -0.21, 0.98, 0, 0) scale(0.25);
}

.t.m3_3 {
    -webkit-transform: matrix(0.99, 0.17, -0.17, 0.99, 0, 0) scale(0.25);
    -ms-transform: matrix(0.99, 0.17, -0.17, 0.99, 0, 0) scale(0.25);
    -moz-transform: matrix(0.99, 0.17, -0.17, 0.99, 0, 0) scale(0.25);
    -o-transform: matrix(0.99, 0.17, -0.17, 0.99, 0, 0) scale(0.25);
}

.t.m2_3 {
    -webkit-transform: matrix(1, -0.07, 0.07, 1, 0, 0) scale(0.25);
    -ms-transform: matrix(1, -0.07, 0.07, 1, 0, 0) scale(0.25);
    -moz-transform: matrix(1, -0.07, 0.07, 1, 0, 0) scale(0.25);
    -o-transform: matrix(1, -0.07, 0.07, 1, 0, 0) scale(0.25);
}

.t.m6_3 {
    -webkit-transform: matrix(0.99, 0.15, -0.15, 0.99, 0, 0) scale(0.25);
    -ms-transform: matrix(0.99, 0.15, -0.15, 0.99, 0, 0) scale(0.25);
    -moz-transform: matrix(0.99, 0.15, -0.15, 0.99, 0, 0) scale(0.25);
    -o-transform: matrix(0.99, 0.15, -0.15, 0.99, 0, 0) scale(0.25);
}

.t.m5_3 {
    -webkit-transform: matrix(0.98, 0.2, -0.2, 0.98, 0, 0) scale(0.25);
    -ms-transform: matrix(0.98, 0.2, -0.2, 0.98, 0, 0) scale(0.25);
    -moz-transform: matrix(0.98, 0.2, -0.2, 0.98, 0, 0) scale(0.25);
    -o-transform: matrix(0.98, 0.2, -0.2, 0.98, 0, 0) scale(0.25);
}

.t.m7_3 {
    -webkit-transform: matrix(1, 0.07, -0.07, 1, 0, 0) scale(0.25);
    -ms-transform: matrix(1, 0.07, -0.07, 1, 0, 0) scale(0.25);
    -moz-transform: matrix(1, 0.07, -0.07, 1, 0, 0) scale(0.25);
    -o-transform: matrix(1, 0.07, -0.07, 1, 0, 0) scale(0.25);
}

.t.m10_3 {
    -webkit-transform: matrix(1, 0.05, -0.05, 1, 0, 0) scale(0.25);
    -ms-transform: matrix(1, 0.05, -0.05, 1, 0, 0) scale(0.25);
    -moz-transform: matrix(1, 0.05, -0.05, 1, 0, 0) scale(0.25);
    -o-transform: matrix(1, 0.05, -0.05, 1, 0, 0) scale(0.25);
}

#tvalj1 {
    left: 59px;
    top: 225px;
    letter-spacing: 3px;
}

#tvalj2 {
    left: 71px;
    top: 293px;
    letter-spacing: 3px;
}

#storybook {
    border-style: none;
    z-index: 4;
    position: absolute;
    left: 376px;
    top: 107px;
    width: 271px;
    height: 271px;
    text-align: left;
    background: transparent;
    background-repeat: no-repeat;
    border-radius: 88px;
}

.ie #t1_3 {
    top: 29px;
}
.ieedge #t1_3 {
    top: 24px;
}