
/*Customising*/
@font-face {
    font-family: JPMOWD-MyriadPro-Regular1;
    src: url("fonts/JPMOWD-MyriadPro-Regular.woff") format("woff");
}

@font-face {
    font-family: JPMOWD-SpudAFCrisp1;
    src: url("fonts/JPMOWD-SpudAFCrisp.woff") format("woff");
}
@font-face {
            font-family: LPGELP-GillEducational-Regular1;
            src: url("fonts/LPGELP-GillEducational-Regular.woff") format("woff");
        }
.ts{
    position: absolute;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -ms-transform: scale(0.25);
    z-index: 2;
    position: absolute;
    white-space: nowrap;
    overflow: visible;
}

#t1_1 {
        left: 25%;
        bottom: 35%;
        letter-spacing: 1px;
}

#t2_1 {
    /* left: 198px; */
    /* bottom: 14px; */
    /* letter-spacing: 1px; */
    left: 41.5%;
    bottom: 35%;
    letter-spacing: 1px;
}

#t3_1 {
    letter-spacing: 0px;
    left: 58%;
    bottom: 35%;
}

#t4_1 {
    left: 77%;
    bottom: 25%;
    letter-spacing: 0px;
}

#t5_1 {
      left: 78px;
    top: 10px;
    letter-spacing: -1px;
}

#t6_1 {
       left: 81px;
    top: 73px;
    letter-spacing: 0px;
}

.s1_1 {
 FONT-SIZE: 40%;
 FONT-FAMILY: JPMOWD-MyriadPro-Regular1;
 color: rgb(255, 255, 255);
 position: absolute;
}

.s2_1 {
      FONT-SIZE: 50%;
      FONT-FAMILY: JPMOWD-MyriadPro-Regular1;
      color: rgb(255, 255, 255);
      position: absolute;
}

.s3_1 {
        FONT-SIZE: 59px;
    FONT-FAMILY: JPMOWD-SpudAFCrisp1;
    color: rgb(31, 106, 181);
    position: absolute;
}

.highlightingText {
    position: absolute;
    left: 1em;
    bottom: 1.5em;
    letter-spacing: 2px;
    font-size:3.4em;
    FONT-FAMILY: NexaBold;
}
.pageNumber.even {
    position: absolute;
    right: 18px;
    bottom: 10px;
    letter-spacing: 2px;
    font-size: large;
    FONT-FAMILY: LPGELP-GillEducational-Regular1;
}
.pageNumber.odd {
    position: absolute;
    left: 18px;
    bottom: 10px;
    letter-spacing: 2px;
    font-size: large;
    FONT-FAMILY: LPGELP-GillEducational-Regular1;
}




/*html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #333;
}

body.hide-overflow {
    overflow: hidden;
}

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}


.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page img {
    max-width: 100%;
    height: 100%;
}*/

.footerText {
    font-size: 3em !important;
    bottom: 0em;
    height: 7%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.footerText span {
    FONT-SIZE: 40%;
    FONT-FAMILY: JPMOWD-MyriadPro-Regular1;
    color: rgb(255, 255, 255);
}

span.big {
    FONT-SIZE: 50%;
    FONT-FAMILY: JPMOWD-MyriadPro-Regular1;
    color: rgb(255, 255, 255);
}

.headerText {
    FONT-SIZE: 7.3em;
    FONT-FAMILY: JPMOWD-SpudAFCrisp1;
    color: rgb(31, 106, 181);
    position: absolute;
    top:0;
    /* text-align: center; */
    width: 100%;
    height: 20%;
}

.headerText span {
    text-align: center;
    position: absolute;
    left: 20%;
}


.headerText span.top {
    top: 0%;
}

.headerText span.bottom {
    top: 60%;
}

.container {
    background-color: #D8D0C9;
    border: 1px solid #D8D0C9;
}
.highlightingText a:link,
.highlightingText a:visited,
.highlightingText a:hover,
.highlightingText a:active {
    padding: 0 8px;
    text-decoration: none;
    color: #000;
}

.highlightingText a:hover {
    background-color: #ededed;
}
/*.highlight {
    border-bottom: 0.16em solid #83c25c;
    padding-bottom: 8px!important;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
}*/

.page-wrapper:nth-child(even) :first-child {
    /*left: -1px!important;*/
}